https://github.com/Rapptz/discord.py/archive/rewrite.zip#egg=discord.py
aiohttp==2.2.5
async-timeout==3.0.0
beautifulsoup4==4.5.3
chardet==3.0.4
discord==0.0.2
gitdb2==2.0.3
GitPython==2.1.3
idna==2.6
lxml==3.8.0
multidict==4.3.1
olefile==0.45.1
Pillow==4.2.1
prettytable==0.7.2
psutil==5.2.1
pychalk==2.0.0
pyfiglet==0.7.5
PyGithub==1.34
PyJWT==1.6.4
pytz==2017.2
requests==2.12.4
six==1.11.0
smmap2==2.0.3
strawpy==1.1
Tokage==1.0.0
websockets==3.4
yarl<1.2
